{% extends "employee_app/base.html" %}

{% block content %}
<table class="table">
    <thead class="container fw-bold">

        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>EMP-Code</td>
            <td>Position</td>
            <td>
                <a href="{% url 'employee_insert' %}" class="btn btn-outline-success">Add New
                <i class="fas fa-plus"></i>

            </td>
            
        </tr>
        
    </thead>

    <tbody>
        {% for employee in employee_list %}
        <tr>
            <td>{{employee.fullname}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.emp_code}}</td>
            <td>{{employee.position}}</td>
            <td>
                <a href="{% url 'employee_edit' employee.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i></a>
           
                    <form action="{% url 'employee_delete' employee.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete this?')">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                <!-- </a> -->
            </td>

        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}